body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #FA6FE5;
  color: #2D43FA;
}
button {
  background-color: #2D43FA;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #C22DFA;
}
